
    @{
        ViewData["Title"] = "Registro";
    }

    <div class="text-center">
        <p><a href="ConsultaClases">Registros Clases</a>.</p>
        <p><a href="ConsultaClasesAct">Registros Actividades</a>.</p>
        <p><a href="ConsultaClasesMat">Registros Matriculas</a>.</p>
    </div>
