
    @{
        ViewData["Title"] = "Registros";
    }

    <div class="text-center">
        <p><a href="ConsultaClientes">Registros Clientes</a>.</p>
        <p><a href="ConsultaClientesSubs">Registros Clientes Subscripciones</a>.</p>
        <p><a href="ConsultaClientesMats">Registros Clientes Matriculas</a>.</p>
    </div>
    