@{
    ViewData["Title"] = "Registros";
}

<div class="text-center">
    <p><a href="ConsultaEmpleados">Registros Empleados</a>.</p>
    <p><a href="ConsultaEmpleadosCat">Registros Empleados Categoria</a>.</p>
    <p><a href="ConsultaEmpleadosClase">Registros Empleados Clases</a>.</p>
    <p><a href="ConsultaEmpleadosPlani">Registros Empleados Planilla</a>.</p>
</div>